<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form id="signupForm" action="/admin/adminSignup" method="post">
  <h2>Admin Signup</h2>

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required />

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required />

  <label for="mobile">Mobile:</label>
  <input type="tel" name="mobile" id="mobile" required />

  <label for="pass">Password:</label>
  <input type="password" name="pass" id="pass" required />

  <button type="submit">Submit</button>
</form>


</body>
</html>